<% if user_signed_in? %> 
	<div id="profile_reviews">
		<h3>Your Recent Reviews</h3>
		<div class="list-group">
			<% current_user.reviews.last(5).each do |review| %>
				<% beer_id = review["beer_id"] %>
				<%= link_to("/beers/#{beer_id}") do %>
					<div class="list-group-item">
						<h4 class="list-group-item-heading">
							Name: <%= Beer.find(review.beer_id)["name"] %>
						</h4>
						<div class="list-group-item-text">
							<%= truncate(review.body, length:500) %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
<% end %>