<h1>Your Profile</h1>
<p>Avatar</p>

<h2>What are you in the mood for?</h2>
I want a beer that's:<br />

<%= render 'styles' %>


<%= Beer.list_by_style %>


Dark Beer
<br />

That tastes:<br />
Sweet<br />
<br />

With an ABV (Alcohol By Volume %) of:<br />
7.0-9.0<br />
<br /><br />
SUBMIT
<br /><br />


<h2>Suggestions for You:</h2>
|beer 1|  |beer 2|  |beer3|

<h3>Your Reviews</h3>