/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	background-image: url("/images/beer_background.jpg")
}

#header {
	background-color: #fff;
}
#footer {
	border-top: 2px solid #888;
}


.container{
	background-color: #fff;
}


#logo {
	font-family: 'Yellowtail', cursive;
	font-size: 40pt;
	color: #000;
} 
#logo a {
	color: #000;
	text-decoration: none;
}


#log_out {
	float:right;
	margin-right: 5%;
}

#header {
	border-bottom: solid 1px #888888
}

#profile_header {
	border-bottom: solid 1px #888888;
	margin-bottom: 25px;
	padding-bottom: 20px;
}

#profile_reviews {
	clear: both;
	border-top: solid 1px #888888
}

#search {
	min-height: 450px;
}


#found_beer {
	background-color: #fff;
    box-shadow: 5px 5px 2px #888888;
	width:28%;
	margin-right:3%;
	border: 1px solid #888888;
}

.found_reviews {
	border-bottom: 1px solid #888888;
}

#found_beer_info {}
#found_beer_info img {
	margin-left: 25%;
}

#beer_info img {
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}


#profile_information {
	float: right;
}


#recent_reviews {
	float: right;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 40%;
}


#recent_reviews h3{
	margin-top: 0
}
.recent_review {
	margin-bottom: 10px;
	border-bottom: solid grey 2px;
	clear: both;
	min-height: 125px;
}
.recent_review_image {
	float:left;
	padding-right: 4%;
}

.recent_review img {
	max-height: 100px;
	max-width: 100px;
}

#btn-home {
	clear: both;
	margin-left: 45%;
	margin-bottom: 20px;
	margin-top: 10px;
}

.stats {
	clear: left;
}

.review {
	margin: 10px 0;
	border-bottom: solid grey 1px;
	clear: both;
}